[img]http://i.imgur.com/qcC2kjp.gif[/img][size=64pt][color=white]Fluffy's Mods[/color][/size]
[table]
{{#mods}}
[tr]
    [td][{{targetVersion}}][/td]
    [td][color=white][url=http://github.com/{{git_user}}/{{git_repo}}/releases/latest]{{name}}[/url][/color][/td]
    [td] v{{version.major}}.{{version.minor}} [/td]
    [td] ({{last_update}}) [/td]
    [td][url=http://steamcommunity.com/sharedfiles/filedetails/?id={{publishedfileid}}][img]http://i.imgur.com/LHkCJRF.png[/img][/url][/td]
    [td][url=https://github.com/{{git_user}}/{{git_repo}}/releases][img]http://i.imgur.com/ed8ia5D.png[/img][/url][/td]
    [td][url=https://github.com/{{git_user}}/{{git_repo}}/issues][img]http://i.imgur.com/ymLMNza.png[/img][/url][/td]
    [td]{{tagline}}[/td]
[/tr]
{{/mods}}
[/table]

Legend:
[img width=10]http://i.imgur.com/LHkCJRF.png[/img]: Steam Workshop page
[img width=10]http://i.imgur.com/ed8ia5D.png[/img]: All old & new versions
[img width=10]http://i.imgur.com/ymLMNza.png[/img]: Bugs & Suggestions

You can find my outdated & obsolete mods, as well as my other projects, on [color=white][url=https://github.com/fluffy-mods]GitHub[/url][/color]